/* Social media icons courtesy of @MartzGFX
* http://martz90.deviantart.com/art/Circle-Icons-Pack-371172325
*
*/

.block-ae-social-login h2 sub,
.pane-ae-social-login h2 sub{
	float:right;
}

.block-ae-social-login h2 sub a,
.pane-ae-social-login h2 sub a{
	vertical-align: sub;
}

ul.ae_social_login_services{
	padding-left:0!important;
	display:inline-block;
}

ul.ae_social_login_services li a{
	border:none!important;
}

.ae_social_login_services li{
  list-style-type: none;
  float:left;
}

form .ae_social_login_services{
    display: block;
    margin: 1em auto;
    width: 320px;
    text-align:center;
}

form .ae_social_login_services li{
    float: none;
    display: inline-block;
}

form .ae-social-login-separator{
    position:relative;
}

form .ae-social-login-separator .separator{
    position: absolute;
    width:100%;
    top: 50%;
    border-bottom: 1px solid #ccc;
    z-index: -1;
}

form .ae-social-login-separator span{
    display:block;
    text-align: center;
    margin:0 auto;
    width: 6em;
    background-color: #f5f5f7;
    text-transform: uppercase;
}

.ae_social_login_services li a div{
	width:32px;
	height:32px;
	opacity:.5;
}

.ae_social_login_services li a div:hover,
.ae_social_login_services li a div.activated{
	opacity:1;
}

.ae_social_login_services li a div.facebook{
	background-image:url("../../ae_social_login/images/fb.png");
}

.ae_social_login_services li a div.twitter{
	background-image:url("../../ae_social_login/images/twitter.png");
}

.ae_social_login_services li a div.foursquare{
	background-image:url("../../ae_social_login/images/foursquare.png");
}

.ae_social_login_services li a div.tumblr{
	background-image:url("../../ae_social_login/images/tumblr.png");
}

.ae_social_login_services li a div.lastfm{
	background-image:url("../../ae_social_login/images/last-fm.png");
}

.ae_social_login_services li a div.deezer{
	background-image:url("../../ae_social_login/images/deezer.png");
}

.ae_social_login_services li a div.soundcloud{
	background-image:url("../../ae_social_login/images/soundcloud.png");
}

.ae_social_login_services li a div.spotify{
	background-image:url("../../ae_social_login/images/spotify.png");
}

.ae_social_login_services li a div.netflix{
	background-image:url("../../ae_social_login/images/netflix.png");
}

.ae_social_login_services li a div.youtube{
	background-image:url("../../ae_social_login/images/youtube.png");
}

.ae_social_login_services li a div.vimeo{
	background-image:url("../../ae_social_login/images/vimeo.png");
}

.ae_social_login_services li a div.google{
	background-image:url("../../ae_social_login/images/google.png");
}

.ae_social_login_services li a div.googleplus{
	background-image:url("../../ae_social_login/images/google-plus.png");
}

.ae_social_login_services li a div.rdio{
	background-image:url("../../ae_social_login/images/rdio.png");
}

.ae_social_login_services li a div.instagram{
	background-image:url("../../ae_social_login/images/instagram.png");
}

.ae_social_login_services li a div.netflix{
	background-image:url("../../ae_social_login/images/netflix.png");
}

.ae_social_login_services li a div.beatsmusic{
	background-image:url("../../ae_social_login/images/beatsmusic.png");
}

.ae_social_login_services li a div.email{
	background-image:url("../../ae_social_login/images/email.png");
}

div.ae_top_text,
div.ae_bottom_text,
div.ae_footer{
	clear:both;
}

#ae-email-required-form{
	display:none;
}

#ae-email-required-form input[type=text]{
	width:100%;
}

#ae_email_required_form_message{
	max-width: 330px;
}

div.ae_ajax_loader{
	width:100%;
	height:16px;
	background-image: url(../../ae_social_login/images/ajax-loader.gif);
	background-repeat: no-repeat;
}

div.ae_bar_loader{
	width:100%;
	height:16px;
	background-image: url(../../ae_social_login/images/bar-loader.gif);
	background-repeat: no-repeat;
}

/* duplicates bartik theme form submit buttons */
a.ae_register_button{
	background: #fff url(../../ae_social_login/images/buttons.png) 0 0 repeat-x;
	border: 1px solid #e4e4e4;
	border-bottom: 1px solid #b4b4b4;
	border-left-color: #d2d2d2;
	border-right-color: #d2d2d2;
	color: #3a3a3a;
	cursor: pointer;
	font-size: 0.929em;
	font-weight: normal;
	text-align: center;
	margin-bottom: 1em;
	margin-right: 0.6em;
	padding: 4px 17px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin: 2px 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}
a.ae_register_button:hover,
a.ae_register_button:active,
a.ae_register_button:visited{
	text-decoration: none;
	color: #3a3a3a;
	background: #dedede;
}

.ae_avatar img{
	width: 100%;
}